<?xml version="1.0"?>
<launch>
	<param name="robot_description" textfile="urdf/explorer.urdf" />

	<node pkg="roboint" type="libft_adapter" name="libft_adapter" output="screen">
	</node>

	<node pkg="roboint" type="robo_explorer.py" name="robo_explorer" output="screen">
		<!-- fake laser scan with ultra sonic range finder -->
		<param name="ultrasonic_laser" value="True" />
		<!-- Distance between both wheels in meter (18.55cm) -->
		<param name="wheel_dist" value="0.1855" />
		<!-- Size of wheel Diameter in meter (5.15cm) * gear ratio (0.5) = 2.575cm -->
		<param name="wheel_size" value="0.02575" />
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<arg name="map_file" default="$(find roboint)/config/map.png" />
	<include file="$(find roboint)/launch/move_base.launch">
		<arg name="map_file" value="$(arg map_file)" />
	</include>
</launch>
