<?xml version="1.0"?>
<launch>
	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find roboint)/config/map.pgm 0.05"/>

	<!-- Run AMCL -->
	<include file="$(find amcl)/examples/amcl_diff.launch" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<param name="controller_frequency" value="4.0" />
		<rosparam file="$(find roboint)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find roboint)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find roboint)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find roboint)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find roboint)/config/base_local_planner_params.yaml" command="load" />
	</node>
</launch>
