<?xml version="1.0"?>
<robot name="explorer">
	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.14 0.155 0.085"/>
			</geometry>
			<origin xyz="0.0 0 0.0525" rpy="0 0 0"/>
			<material name="white_transparent">
				<color rgba="1 1 1 0.8"/>
			</material>
		</visual>
	</link>

	<link name="tail">
		<visual>
			<geometry>
				<box size="0.06 0.09 0.075"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name="left_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.026" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<cylinder radius="0.026" length="0.02"/>
			</geometry>
		</collision>
	</link>

	<link name="right_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.026" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<cylinder radius="0.026" length="0.02"/>
			</geometry>
		</collision>
	</link>

	<link name="aft_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.01" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name="forward_sensor">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.03"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="tail_joint" type="fixed">
		<parent link="base_link"/>
		<child link="tail"/>
		<origin xyz="-0.1 0 0.0575" rpy="0 0 0"/>
	</joint>

	<joint name="left_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="left_wheel"/>
		<origin xyz="0 -0.08 0.026" rpy="1.57 0 0"/>
	</joint>

	<joint name="right_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="right_wheel"/>
		<origin xyz="0 0.08 0.026" rpy="1.57 0 0"/>
	</joint>

	<joint name="aft_wheel_joint" type="fixed">
		<parent link="tail"/>
		<child link="aft_wheel"/>
		<origin xyz="0 0 -0.0475" rpy="1.57 0 0"/>
	</joint>

	<joint name="forward_sensor_joint" type="fixed">
		<parent link="base_link"/>
		<child link="forward_sensor"/>
		<origin xyz="0.07 0 0.06" rpy="0 0 0"/>
	</joint>

	<transmission name="left_wheel_trans" type="SimpleTransmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="left_wheel_joint">
			<hardwareInterface>VelocityJointInterface</hardwareInterface>
		</joint>
		<actuator name="left_wheel_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="right_wheel_trans" type="SimpleTransmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="right_wheel_joint">
			<hardwareInterface>VelocityJointInterface</hardwareInterface>
		</joint>
		<actuator name="right_wheel_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>
</robot>
